* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) transparent;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background: #0d0d3b;
}

html::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 999px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  position: relative;
  overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}