nav {
  background: transparent; /*background: transparent; rgba(255,255,255, 0.05);*/
  backdrop-filter: blur(8px); /* frosted glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1rem 2rem;
  border-radius: 9px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
  gap: clamp(1rem, 3vw, 3rem);
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  color: #e0e0ff;
  transition: all 0.3s ease;

}

nav ul li a:hover {
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(180, 180, 255, 0.5);
}
.nav-contact {
    display: flex;
    margin-top:-0.2rem;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 0.3rem 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-contact:hover {
    border-color: #5eb8ff;
    box-shadow: 0 0 8px rgba(94, 184, 255, 0.2);
}

.nav-contact-link {
    color: #e0e0ff;
    text-decoration: none;
    font-size: 0.9rem;
}

.nav-icon {
    color: rgba(224, 224, 255, 0.6);
    font-size: 0.85rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-icon:hover {
    color: #5eb8ff;
    text-shadow: 0 0 8px rgba(94, 184, 255, 0.5);
}


@media (max-width: 400px) {
    .abt-btn {
        display: none;

    }
    .nav-contact{
        margin-left: -1rem;
    }
}